<%= form_with model: @event do |form| %>
  <% @event.errors.full_messages.each do |error| %>
    <div class="text-red-500 text-sm mb-2">
      <%= error %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :name, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-medium" %>
    <%= form.text_area :description, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :date_time, "Fecha del evento", class: "block text-gray-700 font-medium" %>
    <%= form.datetime_field :date_time, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :location, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :location, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
  </div>

  <div class="mb-4">
    <%= form.label :visibility, "Publico", class: "block text-gray-700 font-medium" %>
    <%= form.check_box :visibility, class: "mt-1 text-indigo-500 focus:ring-indigo-500" %>
  </div>

  <div class="text-center">
    <%= form.submit "Guardar evento", class: "mt-4 px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
  </div>
<% end %>
